ansi2html
appdirs
argon2-cffi
arrow
async-generator
attrs
backcall
bcrypt
beautifulsoup4
biopython
bleach
Brotli
cairocffi
CairoSVG
certifi
cffi
chardet
click
cryptography
cssselect2
custom-inherit
cycler
dash==1.17.0
dash-bio==0.4.8
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-extensions==0.0.18
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
decorator
defusedxml
entrypoints
Flask
Flask-Compress
flask-talisman
future
googletrans
gunicorn
h11
h2
hpack
hstspreload
html5lib
httpcore
httpx
hyperframe
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2==2.11.2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-dash
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe==1.1.1
matplotlib
mistune
more-itertools
multipledispatch
nbclient
nbconvert
nbformat
ncbi-genome-download
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
percy
pexpect
pickleshare
Pillow
plotly
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycparser
Pygments
pyOpenSSL
pyparsing
Pyphen
pypng
pyrsistent
pytest
pytest-mock
pytest-sugar
python-dateutil
pytz
pyzmq
qtconsole
QtPy
redis
reportlab
req
requests
retrying
rfc3986
rq
scikit-learn
scipy
seaborn
selenium
Send2Trash
sip
six
sniffio
soupsieve
termcolor
terminado
testpath
threadpoolctl
tinycss2
toml
tornado
toyplot
toytree
traitlets
urllib3
waitress
wcwidth
WeasyPrint
webencodings
Werkzeug==1.0.1
widgetsnbextension
xmltodict
zipp
